body{
    background-image: linear-gradient(to right, #434343, #000000);
}

.hidden{
    opacity: 0;
}

.fade-in{
    opacity: 1;

}

.greeting{

    /*opacity: 0;*/
    /*transition: 2s opacity;*/

    color: ghostwhite;
    font-family: Helvetica, serif;
    font-size: xxx-large;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}

.banner{

    padding-top: 20%;
    text-align: center;
}

.input{
    font-family: Georgia, serif;
    font-size: larger;
    color: white;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}

.inputBox{
    width: 300px;
}