body{
    background-image: linear-gradient(to right, #434343, #000000);
}


.greeting {

    opacity: 0;

    color: ghostwhite;
    font-family: Helvetica, serif;
    font-size: xxx-large;
    text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
.fade-in-greeting {
     animation: fade 1.5s ease-in forwards;
}

.fade-in-subtext{
    animation: fade 1.5s ease-in forwards;
    animation-delay: 2s;
}

@keyframes fade {
    100% {
        opacity: 1;
    }

}

.banner{

    padding-top: 20%;
    text-align: center;
}

.input{
    opacity: 0;
    font-family: Georgia, serif;
    font-size: larger;
    color: white;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
}

.inputBox{
    width: 300px;
}

#responseArea{
    font-family: Georgia, serif;
    font-size: larger;
    color: white;
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
    display: none;
    padding-top: 50px;
}


